.deals-section {
  padding: 24px 0;
  background: #fff;
}

.deals-wrapper {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 40px;
}

/* HEADER */
.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-head h3 {
  font-size: 18px;
  font-weight: 700;
}

.section-head h3::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #ff6a00;
  display: block;
  margin-top: 6px;
}

/* ARROWS */
.arrows span {
  font-size: 26px;
  margin-left: 10px;
  cursor: pointer;
  color: #aaa;
}

.arrows span:hover {
  color: #000;
}

/* DEAL CARD */
.deal-card {
  position: relative;
  background: #fff;
  padding: 30px;
  border: 1px solid #eee;
  text-align: center;
}


.deal-card img {
  display: block;
  margin: 0 auto 15px auto;
  height: 320px;
  object-fit: contain;
}


.discount {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff3d00;
  color: #fff;
  padding: 6px 10px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}


.price {
  color: #ff3d00;
  font-weight: 700;
}

.price span {
  color: #aaa;
  text-decoration: line-through;
}

.progress-bar {
  height: 6px;
  background: #eee;
  margin: 20px 0;
}

.progress-bar span {
  display: block;
  height: 100%;
  background: #ff6a00;
}

/* TIMER */
.timer {
  display: flex;
  justify-content: space-between;
}

.timer div {
  background: #f5f5f5;
  width: 23%;
  padding: 10px;
}

/* TABS */
.tabs {
  display: flex;
  gap: 20px;
  list-style: none;
}

.tabs li {
  cursor: pointer;
  color: #888;
}

.tabs li.active {
  color: #ff6a00;
  font-weight: 600;
}

/* MOBILE TABS */
.mobile-tabs {
  display: none;
}

.mobile-tabs select {
  width: 100%;
  padding: 10px;
}

/* PRODUCT SLIDER */
.products-carousel {
  overflow: hidden;
}

.products-track {
  display: flex;
  transition: transform 0.45s ease;
}

.products-slide {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .products-slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .desktop-tabs {
    display: none;
  }

  .mobile-tabs {
    display: block;
  }

  .deals-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .products-slide {
    grid-template-columns: 1fr;
  }
}
