.hero-banners {
  padding: 30px 0;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

/* COMMON CARD */
.hero-card {
  position: relative;
  height: 320px;
  border-radius: 6px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: background 0.4s ease;
}

/* DARK OVERLAY ON LEFT & RIGHT */
.hero-card::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0,0,0,0);  */
  transition: background 0.4s ease;
  z-index: 1;
}

/* .hero-card.left::before,
.hero-card.right::before {
  background: rgba(41, 41, 41, 0.45);
} */

/* TEXT OVERLAY */
.overlay {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.center-text {
  text-align: center;
}

.center-text h2 {
  font-size: 36px;
  margin-top: 10px;
}

.overlay p {
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.9;
}

.overlay h3 {
  font-size: 26px;
  color: #ffa500;
  margin: 5px 0;
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.85);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  
}

.left-arrow { right: 20px; }
.right-arrow { left: 20px; }

/* RESPONSIVE: MOBILE */
@media (max-width: 1024px) {
  .hero-grid {
    grid-template-columns: 1fr; /* single column */
  }

  .hero-card {
    height: 260px;
  }

  .center-text h2 {
    font-size: 26px;
  }

  /* hide left & right on mobile */
  .hide-on-mobile {
    display: none;
  }

  /* Center arrows optional */
  .hero-card.center .arrow {
    display: flex;
  }
}
